<!DOCTYPE html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <main>
      <h1>
        {{ .Title }}
      </h1>
      {{ .Content }}
      {{ range .Data.Pages.GroupByDate "2006" }}
      <h2>{{ .Key }}</h2>
        {{ range .Pages }}
          {{ with .Params.images }}
            <img src="{{ index . 0 | relURL }}" />
          {{ end }}
          <h3>{{ .Title }}</h3>
          {{ with .Params.description }}
            <p>{{ . }}</p>
          {{ else }}
          <p>{{ .Summary }}</p>
          {{ end }}
          <p>
            Read more in <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <br />
            <small><time>{{ .Date.Format "2 Jan, 2006" }}</time> • {{ .ReadingTime }} min read</small>
          </p>
        {{ end }}
      {{ end }}
    </main>
  </body>
</html>
