<!DOCTYPE html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
      <h1>
        #{{- .Title | lower -}}
      </h1>
      {{ .Content }}
        {{ range .Pages }}
          <h2>
            <a href="{{ .RelPermalink }}">{{- .Title -}}</a>
          </h2>
            {{ range $i, $e := .Params.tags }}
            {{ if $i }}• {{ end }}
              <a href="/tags/{{- . | urlize | lower -}}">#{{ . }}</a>
            {{ end }}
        {{ end }}
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
