dark($background = null, $color = null)
  @media screen and (prefers-color-scheme: light)
    if $background != null and $color != null
      background-color: $background
      color: $color
    else if $background != null and $color == null
      background-color: $background
    else if $color != null and $background == null
      color: $color
    else
      {block}

:root
  dark(yellow, black)

body
  dark(yellow, black)

p
  a
    +dark()
      color blue
      &:link
      &:visited
        color blue
      &:hover
      &:active
      &:focus
        color navy

figcaption
  +dark()
    color black
