main
  background-image linear-gradient(to bottom, hsla(200, 100%, 50%, .2) 1px, transparent 1px, transparent 12px, hsla(200, 100%, 50%, .2) 12px, transparent 13px, transparent 24px)
  background-position left top
  background-repeat repeat
  background-size 100% 24px
