@import "_import/colours.styl"
@import "_import/baseline.styl"
@import "_import/dark.styl"
@import "_import/tables.styl"
// @import "_import/grid.styl" //grid for local baseline dev

body
  background-image linear-gradient(286deg, transparent 1%, transparent 48%, #454545 48%, #454545 52%, transparent 52%, transparent 100%)
  background-repeat no-repeat
  background-position center top 20px
  // background-attachment fixed
  background-size 100vw calc(100vh - 36px)
  +dark()
    background-image linear-gradient(286deg, transparent 1%, transparent 48%, #454545 48%, #454545 52%, transparent 52%, transparent 100%)
    background-image linear-gradient(286deg, transparent 1%, transparent 48%, silver 48%, silver 52%, transparent 52%, transparent 100%)

header
  background navy
  border-top 4px solid red
  -moz-border-image -moz-linear-gradient(left, yellow 33%, blue-dark 33%, blue-dark 66%, red 66%) 100% 0 0 0/4px 0 0 0
  -webkit-border-image -webkit-linear-gradient(left, yellow 33%, blue-dark 33%, blue-dark 66%, red 66%) 100% 0 0 0/4px 0 0 0
  border-image linear-gradient(to right, yellow 33%, blue-dark 33%, blue-dark 66%, red 66%) 100% 0 0 0/4px 0 0 0
  border-image-slice 1
  border-left-width 0
  border-right-width 0
  border-bottom-width 0
  left 0
  top 0
  position fixed
  width 100vw
  z-index 2
  +dark()
    background yellow
    -moz-border-image -moz-linear-gradient(left, yellow 33%, blue 33%, blue 66%, red 66%) 100% 0 0 0/4px 0 0 0
    -webkit-border-image -webkit-linear-gradient(left, yellow 33%, blue 33%, blue 66%, red 66%) 100% 0 0 0/4px 0 0 0
    border-image linear-gradient(to right, yellow 33%, blue 33%, blue 66%, red 66%) 100% 0 0 0/4px 0 0 0
  a.logo
    color red
    display block
    font-family Baskerville,
                serif
    font-weight 400
    font-style italic
    padding .25rem .75rem
    text-decoration none
    text-align center

footer
  margin-top 1.5rem

// h1
//   @media (min-width: 36rem)
//     font-size 6.554rem
//     line-height 6rem

ul
ol
  list-style none

ul > li
  &:before
    content "\2022"
    color red
    display inline-block
    width 1.5rem
    margin-left -(@width)

ol
  counter-reset item
  > li
    &:before
      content counter(item) "."
      counter-increment item
      color red
      display inline-block
      width 1.5rem
      margin-left -(@width)
    p
      display inline

.title
  text-align center
  font-size 1.6rem
  line-height 2rem
  margin-top 0
  margin-bottom 0.75rem

.highlight
    color red
    font-style italic

.list-title
  display inline
  line-height 3.75rem
  margin-right 1.5rem
  border-bottom 5px solid transparent
  background-image: linear-gradient(to bottom, transparent 68%, #454545 68%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  -webkit-transition: background-size 0.45s ease;
  -moz-transition: background-size 0.45s ease;
  -ms-transition: background-size 0.45s ease;
  -o-transition: background-size 0.45s ease;
  transition: background-size 0.45s ease
  &:hover
    border-bottom 5px solid red
    background-size: 100% 100%;
    cursor: pointer
  +dark()
    background-image: linear-gradient(to bottom, transparent 68%, silver 68%);

  a
    text-decoration none
    &::after
      content "\002E"
      color red

.hero--x
.hero--bg
  //Work in progress X
  left 50%
  margin-left -50vw
  position relative
  width 100vw
  height 100vh
  z-index 1
  span
    font-size 6.554rem
    font-size calc(100vw / 12)
    font-style italic
    font-weight 800
    margin auto
    position absolute
    left 50%
    top 50%
    text-align center
    text-transform uppercase
    transform translate(-50%, -50%) rotate(420deg)

.hero--bg
  background-repeat no-repeat
  background-position center center
  background-size 100%
  position: relative;
  z-index: 1;
  &::after
    content: '';
    width: 100%;
    height: 10%;
    position: absolute;
    background: black;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-2deg);
    dark(white,)
  @media (min-width: 36rem)
    background-attachment fixed
